body {
   background-color: rgb(160,216, 134);
}
.rodape{
    border-top: 1px solid #333;
    padding-top: 2px;
    bottom: 0px;
    height: 40px;
    position: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

main {
    padding: 80px;
}

.grupo {
    width: 500px;
}

.bateria {
    width: 100px;
}